[Unit]
Description=OpenWeatherBot daemon
After=network.target

[Service]
User=tgbot
Group=tgbot
Type=simple
WorkingDirectory=/opt/OpenWeatherBot
ExecStart=/opt/OpenWeatherBot/venv/bin/python bot.py
Restart=always

[Install]
WantedBy=multi-user.target
